{% extends "base.html" %}
{% block title %}Board{% endblock %}
{% block content %}
{% csrf_token %}
<h1>Main site</h1>
{%if user.profile.photo%}
<p><img src="{{user.profile.photo.url}}"><br>
{%endif%}
	</p>
<center><p>Hello there! You can <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change"%}">change your password.</a></p></center>

<table>
<h2>List of companies:</h2>
{% for company in data %}<tr><td>
<a href="{% url 'detail' company.companyID %}"><p>{{company.companyName}}</p></a>
</td></tr>
{% endfor %}
</table>
{% endblock %}
